.App{
    text-align:center;
	.file{
		padding:10;
		font-size:14px;
	}
	.submit{
		color:#ffffff
	}
}
.App-logo{
    height: 40vmin;
    pointer-events: none;
}
@media(prefers-reduced-motion: no-preference){
    .App-logo {
        animation: App-logo-spin infinite 0.7s linear;
    }
}
.App-header{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
}
.App-link{
    color: rgba(17, 170, 0, 0.431);
}
@keyframes App-logo-spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
