.treatment-container{
    margin-left:20px;
	margin-top:80px;
	margin-right:20px
}
.treatment-container-active{
	margin-left:300px;
	margin-top:80px;
	margin-right:20px;
}
.treatment-title{
	font-size:24px;
	font-weight:500;
}
.content-treatment-container{
	// height:180px;
	width:500px;
	// border-radius:3px;
	border:solid 1px #eeeeee;
	padding:10px;
	margin-right:40px;
	margin-bottom:40px;
	box-shadow:0px 0px 3px #000000;
	justify-content:flex-start;
	background-repeat:no-repeat;
	background-size:cover;
}
.editor{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}
.flex-treatment-container{
	display:flex;
	flex-wrap:wrap;
}
.treatment-content-title{
	font-size:24px;
	font-weight:500;
	color:#555555;
	width:350px;
}
.add-button{
	font-size:20px !important;

}
.treatment-detail{
	margin-top:5px;
	padding:2px;
	background-color:rgba(238, 238, 238, 0.494);
}
.select-page{
	display:flex;
	align-items:flex-start;
}
.select-page-another{
	display:flex;
	margin-bottom:20px;
	justify-content:flex-end;
	// align-items:stretch;
}
.selector{
	margin-left:10px;
	margin-right:10px;
}
.top-button-container{
	text-align:end;
}
.arrow{
	font-size:16px;
}
.arrow-button{
	margin-left:5px;
	margin-right:5px;
}
.page-number{
	margin-left:10px;
}