
$dark-gray: #555555;

.page-container{
    margin-left:20px;
	margin-top:80px;
	display:flex;
	flex-wrap:wrap;
}
.part-container{
	display:flex;
	flex-wrap:wrap;
}
.element-container{
	display:flex;
	flex-wrap:wrap;
}
.home{
	margin-left:20px;
	margin-top:80px;
	margin-right:20px;
}
.home-active{
	margin-left:300px;
	margin-top:80px;
	margin-right:20px;
}
.advertisement-input-content-detail{
	font-size:20px;
    font-weight:500;
    color: $dark-gray;
    padding-right:10px;
    display:flex;
    flex-wrap:nowrap;
    width:250px;
}
.advertisement-input-detail-title{
	color:#adadad !important;
    font-size:18px !important;
	width:300px !important;
}
.advertisement-input-content-detail-short{
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    padding-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    width: 80px;
}